# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env

# Build folders
dist/
build/

# Python
venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db